# TASK-1

In [ ]:
# Take last 3 values of roll number(AP19110010421)
# if value is startswith "01" --> 'Cse Dept'
# elif value is starts with '11' --> 'IT Dept'
# elif value is startswith "21" --> 'ECE Dept'
# else not an SRM student

In [1]:
string = str(input("Enter your Roll number : "))
last_3 = string[-3:]
print(string,"The Last Three Digits are", last_3)
if last_3.startswith('01'):
    print(last_3,"Student belongs to CSE Department")
elif last_3.startswith('11'):
    print(last_3,"Student belongs to IT Department")
elif last_3.startswith('11'):
    print(last_3,"Student belongs to ECE Department")
else:
    print(last_3,"not an SRM student")

Enter your Roll number : AP19110010388
AP19110010388 The Last Three Digits are 388
388 not an SRM student

# TASK-2

* Find all leap years between 1800 to 2020

In [5]:
print("The leap years are:")
for yr in range(1800,2000,1):
    if(yr%4==0 and yr%100!=0):
        print(yr,end='\t')

The leap years are:
1804	1808	1812	1816	1820	1824	1828	1832	1836	1840	1844	1848	1852	1856	1860	1864	1868	1872	1876	1880	1884	1888	1892	1896	1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972	1976	1980	1984	1988	1992	1996