# TASK:

* https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv
* Apply Random forest model to above dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv')
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [3]:
df.shape

(214, 10)

In [4]:
df['Type'].value_counts

<bound method IndexOpsMixin.value_counts of 0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64>

In [5]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [37]:
x= df[df.columns[:-1]]
y = df['Type']

In [38]:
x.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [8]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
# test_size = 0.20
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.20)

In [28]:
y_train.shape , y_test.shape

((171,), (43,))

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
rfc.fit(x_train,y_train)

C:\Users\MAHESH VALAVALA\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
y_pred = rfc.predict(x_test)
y_pred

array([2, 2, 1, 7, 1, 3, 2, 3, 7, 1, 2, 7, 7, 7, 2, 2, 7, 2, 1, 2, 1, 2,
       1, 5, 2, 6, 7, 2, 2, 7, 2, 1, 2, 2, 5, 1, 2, 1, 2, 2, 1, 1, 2],
      dtype=int64)

In [33]:
x_test.head(3)

          RI     Na    Mg    Al     Si     K    Ca    Ba    Fe
189  1.52365  15.79  1.83  1.31  70.43  0.31  8.61  1.68  0.00
135  1.51789  13.19  3.90  1.30  72.33  0.55  8.44  0.00  0.28
161  1.51934  13.64  3.54  0.75  72.65  0.16  8.89  0.15  0.24

In [34]:
y_test.head(3)

189    7
135    2
161    3
Name: Type, dtype: int64

In [35]:
rfc.predict([[1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.0,0.09]])

array([2], dtype=int64)

In [44]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_pred,y_test)

array([[ 8,  1,  2,  0,  0,  0],
       [ 2, 14,  0,  2,  0,  1],
       [ 1,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  2,  0,  0],
       [ 0,  0,  0,  0,  1,  0],
       [ 0,  1,  0,  0,  0,  7]], dtype=int64)

In [42]:
accuracy_score(y_pred,y_test)

0.7441860465116279